<div class="sidebar-block">
    <h3 class="catListTitle"><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;声明</h3>
    <div>
        <div style="font-size: 11px;">
                本网站提供新影视资源均系收集各大网站，本网站只提供web页面浏览服务，并不提供影片资源存储，也不参与任何视频录制、上传
                若本站收集的节目无意侵犯了贵司版权，邮箱来信，我们将在第一时间删除， 请大家支持正版到影院观看或购买正版CD!
            邮箱地址:459260276@qq.com
        </div>
    </div>
</div>